/* .o_form_button_save {
    background-color: #1f7e1c !important; 
    color: white !important;
    border-radius: 6px;
    padding: 5px 12px;
    font-weight: bold;
}


.o_form_button_save::after {
    content: "Save";
    font-size: 17px;
}
 */
